*{
    margin: 0;

}
body {
    background: rgb(90, 70, 70);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    height: 15vh;
    width: 100%;
    color: black;
}
section{
  margin-top: 200px;
}
main{
    margin: 5px;
    width: 100%;
    color: black;

}
main div{
    display: flex;
    justify-content: center;
    margin: 10px;
}  
main div p{
  margin-top: 80px;
    margin-left: 10px ;
}
h1{
    display: flex;
    justify-content: center;
}
main img{
    height: 250px;
    border-radius: 10%;
}
footer{
    position: relative;
    top: 50px;
} 
.img2, .img4{
    flex-direction: row-reverse;
}
.img1, .img3, .img5{
    display: flex;
    justify-content: center;
    
}body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #ms-container {
    width: 100%;
    height: 100vh;
    background: #1c9cf2;
  }
  
  .ms-content {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 10px solid black;
    border-radius: 100%;
  }
  
  .ms-content-inside {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .ms-line-down-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: transform 0s ease;
  }
  #ms-download {
    display: none;
  }
  #ms-download:checked ~ .ms-line-down-container {
    transform: rotate(-360deg);
    transition: transform 1.5s ease 1.25s;
  }
  
  .ms-line-down {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 125px;
    background: #000;
    border-radius: 50px;
    transition: height .5s ease;
  }
  
  #ms-download:checked ~ .ms-line-down-container .ms-line-down {
    height: 10px;
    top: -20px;
    animation: ms-bounce .5s forwards .55s;
  }
  #ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
    content: '';
    position: absolute;
    top: 0;
    left: -94px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
    border-radius: 100%;
    animation: ms-border-fill .5s forwards 3s;
  }
  
  .ms-line-point {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 58px;
    height: 130px;
    transition: height .15s ease .45s;
  }
  
  #ms-download:checked ~ .ms-line-point {
    height: 60px;
  }
  
  #ms-download:checked ~ .ms-line-point:before {
    transform: rotate(90deg);
    right: -10px;
    animation: ms-check-right .25s forwards 3s;
  }
  
  #ms-download:checked ~ .ms-line-point:after {
    transform: rotate(-90deg);
    left: -10px;
    animation: ms-check-left .25s forwards 3s;
  }
  
  .ms-line-point:before,
  .ms-line-point:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 75px;
    bottom: -10px;
    background: black;
    border-radius: 50px;
    transition: transform 5.15s ease 5.47s, left 5.15s ease 5.47s, right 5.15s ease 5.47s;
  }
  
  .ms-line-point:before {
    right: 0px;
    transform: rotate(45deg);
  }
  
  .ms-line-point:after {
    left: 0px;
    transform: rotate(-45deg);
  }
  
  @keyframes ms-bounce {
    0% {
      top: -20px;
    }
    25% {
      top: -250px;
    }
    50% {
      top: -275px;
    }
    100% {
      top: -190px;
    }
  }
  
  @keyframes ms-check-left {
    0% {
      transform: rotate(-90deg);
      left: -10px;
      height: 75px;
    }
    100% {
      transform: rotate(-45deg);
      left: 0px;
      height: 45px;
      background: green;
    }
  }
  
  @keyframes ms-check-right {
    0% {
      transform: rotate(90deg);
      right: -10px;
      height: 75px;
      bottom: -10px;
    }
    100% {
      transform: rotate(45deg);
      right: 10px;
      height: 80px;
      bottom: -15px;
      background: green;
    }
  }
  
  @keyframes ms-border-fill {
    0% {
      border: 10px solid transparent;
    }
    100% {
      border: 10px solid transparent;
    }
  }

  .kriss {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-5deg);
    border: 4px solid #ffffff;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(145, 19, 177), 0 0 10px rgb(145, 19, 177), 
      inset 0 0 10px rgb(145, 19, 177), inset 0 0 10px rgb(145, 19, 177);
    animation: animate 1s linear infinite;
   }
   
   .kriss:before {
    content: '';
    position: absolute;
    bottom: 6vh;
    left: 0;
    height: 4px;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px rgb(145, 19, 177), 0 0 10px rgb(145, 19, 177);
    z-index: -1;
   }
   
   .kriss:after {
    content: '';
    position: absolute;
    top: 6vh;
    left: 0;
    height: 4px;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px rgb(145, 19, 177), 0 0 10px rgb(145, 19, 177);
    z-index: -1;
   }
   
   .loni {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(145, 19, 177), 0 0 20px rgb(145, 19, 177), 0 0 80px rgb(145, 19, 177), 0 0 120px ;
   }
   
   .loni .fredo {
    animation: animate .5s linear infinite;
   }
   
   .loni .fredo:nth-child(1) {
    animation-delay: .25s;
   }
   
   .loni .fredo:nth-child(2) {
    animation-delay: .2s;
   }
   
   .loni .fredo:nth-child(3) {
    animation-delay: .35s;
   }
   
   
   @keyframes animate {
    0% {
    opacity: 1;
    }
    30% {
    opacity: 1;
    }
    40% {
    opacity: 0.5;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 1;
    }
   }












