*{

    margin:0;
    border: ridge 1px black;
}
body {
    background: linear-gradient(rgb(26, 107, 139), rgb(95, 94, 94));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    height: 15vh;
    width: 100%;
}
main{
    margin: 5px;
    width: 100%;
    color: black;
}
main div{
    display: flex;
    justify-content: center;
    margin: 10px;
}  
main div p{
    margin-left: 10px ;
}
h1{
    display: flex;
    justify-content: center;
}
main img{
    height: 250px;
    border-radius: 0;
}
footer{
    position: relative;
    top: 50px;
} 
.img2{
    flex-direction: row-reverse;
}
.img1, .img3{
    display: flex;
    justify-content: center;
    
}