//Variable
$first_color: white;
$sec_color: white;

@mixin position {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin deco {
    text-decoration: none;
}
@mixin border {
    border: 2px dotted black;
}