//Variable
$first_color: #394e757e;
$sec_color: rgb(207, 160, 58);

@mixin position {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin deco {
    text-decoration: none;
}
@mixin border {
    border: 2px dotted black;
}