* {
  margin: 0;
  padding: 0;
}

.pos {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.pos .postext {
  position: relative;
  width: 100%;
  height: 100%;
}

.pos .postext:nth-child(1) {
  background: url(../paralax/st_michel.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pos .postext:nth-child(2) {
  background: url(../paralax/beach.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pos .postext:nth-child(3) {
  background: url(../paralax/forest.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pos .postext:nth-child(4) {
  background: url(../paralax/gl.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pos .postext .style_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pos .postext .style_title h2 p {
  background: #fff;
  color: #111;
  font-weight: 600;
}

h2,
p {
  color: white;
  font-family: Kanit;
  font-size: 50px;
}
.til{
  text-align: center;
}

/*button*/
.custom {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/*btn1*/
.btn {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn:hover {
  color: #1a948d;
}

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn:hover::after {

  transform: rotateX(-180deg);
}

/*btn2*/
.btn2 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn2:hover {
  color: #1a948d;
}

.btn2::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn2:hover::after {

  transform: rotateX(-180deg);
}

/*btn3
.btn3 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}

.btn3:before,
.btn3:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;

  z-index: -1;
  transition: all 0.3s ease;
}

.btn3:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #00aced;
  border-left-color: #00aced;
}

.btn3:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #00aced;
  border-right-color: #00aced;
}

.btn3:hover:before,
.btn3:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}
*/

/*btn3*/
.btn3 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #861a94, 0 0 5px #861a94 inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn3:hover {
  color: #1a948d;
}

.btn3::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn3:hover::after {

  transform: rotateX(-180deg);
}

/*btn4*/
.btn4 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn4:hover {
  color: #1a948d;
}

.btn4::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn4:hover::after {

  transform: rotateX(-180deg);
}

/*btn5*/
.btn5 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn5:hover {
  color: #1a948d;
}

.btn5::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn5:hover::after {

  transform: rotateX(-180deg);
}


/*btn6*/
.btn6 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn6:hover {
  color: #1a948d;
}

.btn6::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn6:hover::after {

  transform: rotateX(-180deg);
}

.btn7 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn7:hover {
  color: #1a948d;
}

.btn7::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn7:hover::after {

  transform: rotateX(-180deg);
}

.btn8 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn8:hover {
  color: #1a948d;
}

.btn8::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn8:hover::after {

  transform: rotateX(-180deg);
}

.btn9 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn9:hover {
  color: #1a948d;
}

.btn9::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn9:hover::after {

  transform: rotateX(-180deg);
}

.btn10 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn10:hover {
  color: #1a948d;
}

.btn10::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn10:hover::after {

  transform: rotateX(-180deg);
}

.btn11 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn11:hover {
  color: #1a948d;
}

.btn11::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn11:hover::after {

  transform: rotateX(-180deg);
}

.btn12 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn12:hover {
  color: #1a948d;
}

.btn12::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn12:hover::after {

  transform: rotateX(-180deg);
}

.btn13 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn13:hover {
  color: #1a948d;
}

.btn13::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn13:hover::after {

  transform: rotateX(-180deg);
}

.btn14 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn14:hover {
  color: #1a948d;
}

.btn14::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn14:hover::after {

  transform: rotateX(-180deg);
}

.btn15 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn15:hover {
  color: #1a948d;
}

.btn15::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn15:hover::after {

  transform: rotateX(-180deg);
}

.btn16 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn16:hover {
  color: #1a948d;
}

.btn16::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn16:hover::after {

  transform: rotateX(-180deg);
}

.btn17 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn17:hover {
  color: #1a948d;
}

.btn17::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn17:hover::after {

  transform: rotateX(-180deg);
}

.btn18 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn18:hover {
  color: #1a948d;
}

.btn18::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn18:hover::after {

  transform: rotateX(-180deg);
}

.btn19 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn19:hover {
  color: #1a948d;
}

.btn19::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn19:hover::after {

  transform: rotateX(-180deg);
}

.btn20 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn20:hover {
  color: #1a948d;
}

.btn20::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn20:hover::after {

  transform: rotateX(-180deg);
}

.btn21 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn21:hover {
  color: #1a948d;
}

.btn21::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn21:hover::after {

  transform: rotateX(-180deg);
}

.btn22 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn22:hover {
  color: #1a948d;
}

.btn22::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn22:hover::after {

  transform: rotateX(-180deg);
}

.btn23 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn23:hover {
  color: #1a948d;
}

.btn23::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn23:hover::after {

  transform: rotateX(-180deg);
}

.btn24 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn24:hover {
  color: #1a948d;
}

.btn24::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn24:hover::after {

  transform: rotateX(-180deg);
}

.btn25 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn25:hover {
  color: #1a948d;
}

.btn25::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn25:hover::after {

  transform: rotateX(-180deg);
}
.btn26 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn26:hover {
  color: #1a948d;
}

.btn26::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn26:hover::after {

  transform: rotateX(-180deg);
}

.btn27 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn27:hover {
  color: #1a948d;
}

.btn27::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn27:hover::after {

  transform: rotateX(-180deg);
}

.btn28 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn28:hover {
  color: #1a948d;
}

.btn28::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn28:hover::after {

  transform: rotateX(-180deg);
}

.btn29 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn29:hover {
  color: #1a948d;
}

.btn29::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn29:hover::after {

  transform: rotateX(-180deg);
}

.btn30 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn30:hover {
  color: #1a948d;
}

.btn30::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn30:hover::after {

  transform: rotateX(-180deg);
}

.btn31 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn31:hover {
  color: #1a948d;
}

.btn31::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn31:hover::after {

  transform: rotateX(-180deg);
}

.btn32 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn32:hover {
  color: #1a948d;
}

.btn32::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn32:hover::after {

  transform: rotateX(-180deg);
}

.btn33 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn33:hover {
  color: #1a948d;
}

.btn33::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn33:hover::after {

  transform: rotateX(-180deg);
}

.btn34 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn34:hover {
  color: #1a948d;
}

.btn34::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn34:hover::after {

  transform: rotateX(-180deg);
}

.btn35 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn35:hover {
  color: #1a948d;
}

.btn35::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn35:hover::after {

  transform: rotateX(-180deg);
}

.btn36 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn36:hover {
  color: #1a948d;
}

.btn36::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn36:hover::after {

  transform: rotateX(-180deg);
}

.btn37 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn37:hover {
  color: #1a948d;
}

.btn37::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn37:hover::after {

  transform: rotateX(-180deg);
}

.btn38 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn38:hover {
  color: #1a948d;
}

.btn38::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn38:hover::after {

  transform: rotateX(-180deg);
}

.btn39 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn39:hover {
  color: #1a948d;
}

.btn39::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn39:hover::after {

  transform: rotateX(-180deg);
}

.btn40 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid #1a948d;
  box-shadow: 0 0 5px #1a948d, 0 0 5px #1a948d inset;
  position: relative;
  z-index: 2;
  color: #fff;
  perspective: 300px;
  transform-style: preserve-3d;
}

.btn40:hover {
  color: #1a948d;
}

.btn40::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a948d;
  box-shadow: 0 0 5px #1a948d;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 1.3s ease;
}

.btn40:hover::after {

  transform: rotateX(-180deg);
}




a {
  text-decoration: none;
  color: white;
}